/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

b, strong {
    font-weight: bold
}
i, em {
    font-style: italic
}

/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.presentation article {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.presentation .fallback-message {
    display: block;
}

body {
    font-family: 'PT Sans', sans-serif;

    min-height: 700px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
}

a.inline {
    color: black;
    text-decoration: none;
}

/* COMMON STEP STYLES */

article {
    width: 800px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;

    font-size: 48px;
    line-height: 1.5;
}

.line {
    border-top: 1px;
    background-color: black;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* fade out inactive slides */

article {
    -webkit-transition: opacity 1s, visibility 1s;
    -moz-transition:    opacity 1s, visibility 1s;
    -ms-transition:     opacity 1s, visibility 1s;
    -o-transition:      opacity 1s, visibility 1s;
    transition:         opacity 1s, visibility 1s;
}

article:not(.active) {
    opacity: 0.3;
}

article.hidden:not(.active) {
    opacity: 0;
    visibility: hidden;
}

article h1 {
    margin-top: 200px;

    color: #fff;
    text-shadow: 2px 2px 2px #191932;
}

article.slide {
    display: block;
    width: 800px;
    height: 600px;

    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;

    box-shadow: 0 8px 34px rgba(0, 0, 0, .3);
}

article.title {
    background: url("images/coffee 2.jpg") -100px -50px;
}

article.title a, article.title p {
    color: #fff;
    font-size: 0.8em;
    text-shadow: 2px 2px 2px #191932;
    text-align: center;
    margin-top: 20px;
}
